$light-100: #ffffff;
$neutral-100: #F4F4F4;
$neutral-200: #CFCFCF;
$blue-100: #C2E4FE;
$blue-200: #27A1FF;
$blue-300: #0271C7;
$red-100: #E94E4E;
$dark-100: #6B6B6B;
$dark-200: #292929;
$shadow: #00000040;